---
import AdmissionsCTA from '../components/sections/AdmissionsCTA.astro';
import FAQSection from '../components/sections/FAQSection.astro';
import Footer from '../components/sections/Footer.astro';
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Learning from '../components/sections/Learning.astro';
import Values from '../components/sections/Values.astro';
import Welcome from '../components/sections/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header />
  <main id="main-content">
    <Hero />
    <Welcome />
    <Learning />
    <Values />
    <FAQSection />
    <AdmissionsCTA />
  </main>
  <Footer />
</BaseLayout>
